# Binary outputs
target

# Precise dep list
Cargo.lock

# macOS caches
**/*.DS_Store

# IntelliJ internals
.idea
**/*.bk

# Code coverage
*.profraw
tarpaulin-report.html

# It normally does not make sense to share proptest regression files across
# machines because they are largely specific to a machine's topology.
proptest-regressions/
