[package]
name = "hwloc2"
# TODO: Bump major version before pushing as there are some API-breaking updates
version = "2.2.0"
authors = ["Hadrien G. <knights_of_ni@gmx.com>", "Joseph Hirschfeld <j@ibj.io>", "Michael Nitschinger <michael@nitschinger.at>"]
license = "MIT"
keywords = ["hwloc"]
description = "Rust bindings for the hwloc hardware locality library 2.x."
repository = "https://github.com/HadrienG2/hwloc2-rs"
documentation = "http://docs.rs/hwloc2/"
build = "build.rs"
links = "hwloc"
readme = "README.md"
edition = "2021"

[dependencies]
arrayvec = "0.7"
bitflags = "1.0"
derive_more = "0.99"
errno = "0.3"
libc = "0.2"
num_enum = "0.5"
thiserror = "1.0"

[build-dependencies]
pkg-config = "0.3.8"

[target.'cfg(windows)'.dependencies]
windows-sys = { version = "0.45", features = ["Win32_Foundation", "Win32_System_Threading"] }
